<!DOCTYPE html>
<html lang="en">


<!-- Alternate Body Classes: .modern and .vintage -->

<body id="page-top" class="modern">
    <!-- Instructions: Set your background image using the URL below. -->
    <header style="background-image: url('assets/img/culinary/bg-header.jpg')">
        <div class="intro-content">
            <img src="assets/img/culinary/profile.png" class="img-responsive img-centered" alt="">
        </div>
        <div class="scroll-down">
            <a class="btn page-scroll" href="#values"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>
    <section id="values" class="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>Our Values</h2>
                    <hr class="colored">
                    <p>We create flavorsome, traditional dishes using fresh, local ingredients.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Ingredients</h3>
                            <ul>
                                <li><em>Fresh, local ingredients</em>
                                </li>
                                <li><em>All natural and organic</em>
                                </li>
                                <li><em>Carefully hand selected</em>
                                </li>
                                <li><em>Tested for quality and taste</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Technique</h3>
                            <ul>
                                <li><em>Traditional preparation</em>
                                </li>
                                <li><em>Classic combinations</em>
                                </li>
                                <li><em>Complex flavor profiles</em>
                                </li>
                                <li><em>Hygenic and sanitary</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Community</h3>
                            <ul>
                                <li><em>Bakery rewards program</em>
                                </li>
                                <li><em>Private events</em>
                                </li>
                                <li><em>Personal catering menus</em>
                                </li>
                                <li><em>Nightly community specials</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="cta-quote" style="background-image: url('assets/img/culinary/bg-aside.jpg');">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote">COOL QUOTE HERE (EXAMPLE: Truly great food is a combination of quality ingredients, creativity, and attention to detail.)</span>
                    <hr class=" colored">
                    <a class="btn btn-outline-light page-scroll" href="#gallery">Check It Out</a>
                </div>
            </div>
        </div>
    </aside>

      <section id="gallery">
        <div class="container wow fadeIn">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Our Candies</h2>
                    <hr class="colored">
                    <p>QUOTE (EXAMPLE: OUR MOUTH WATERING CANDY. CLICK PICTURE FOR ADDITIONAL INFO)</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-12">
                    <div class="portfolio-gallery">
                        <div class="item">
                            <a href="assets/img/culinary/menu/1.jpg" class="gallery-link" title="Czech Honey Cake">
                                <img src="assets/img/culinary/menu/1.jpg" class="img-responsive img-centered" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="assets/img/culinary/menu/2.jpg" class="gallery-link" title="Mini Croissants">
                                <img src="assets/img/culinary/menu/2.jpg" class="img-responsive img-centered" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="assets/img/culinary/menu/3.jpg" class="gallery-link" title="Gourmet Sweet Cakes">
                                <img src="assets/img/culinary/menu/3.jpg" class="img-responsive img-centered" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="assets/img/culinary/menu/4.jpg" class="gallery-link" title="Traditional Honey Cake">
                                <img src="assets/img/culinary/menu/4.jpg" class="img-responsive img-centered" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="assets/img/culinary/menu/5.jpg" class="gallery-link" title="Rosemary Breadsticks and Salami Rolls">
                                <img src="assets/img/culinary/menu/5.jpg" class="img-responsive img-centered" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="assets/img/culinary/menu/6.jpg" class="gallery-link" title="Mini Croissants">
                                <img src="assets/img/culinary/menu/6.jpg" class="img-responsive img-centered" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

   
    <section id="our_plans" class="pricing" style="background-image: url('assets/img/culinary/bg-pricing.jpg')">
        <div class="container wow fadeIn">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Our Plans</h2>
                    <hr class="colored">
                    <p>QUOTE (EXAMPLE: FOR EVERY OCCASION)</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4">
                    <div class="pricing-item">
                        <h3>PLAN 1</h3>
                        <hr class="colored">
                        <ul class="list-group">
                            <li class="list-group-item"><em>plan</em>
                            </li>
                            <li class="list-group-item"><em>plan</em>
                            </li>
                            <li class="list-group-item"><em>plan</em>
                            </li>
                            <li class="list-group-item"><em>plan</em>
                            </li>
                        </ul>
                        <hr class="colored">
                        <a href="#" class="btn btn-outline-dark">Order Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-item">
                        <h3>PLAN 2</h3>
                        <hr class="colored">
                        <ul class="list-group">
                            <li class="list-group-item"><em>plan</em>
                            </li>
                            <li class="list-group-item"><em>plan</em>
                            </li>
                            <li class="list-group-item"><em>plan</em>
                            </li>
                            <li class="list-group-item"><em>plan</em>
                            </li>
                        </ul>
                        <hr class="colored">
                        <a href=  class="btn btn-outline-dark">Order Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-item">
                        <h3>PLAN 3</h3>
                        <hr class="colored">
                        <ul class="list-group">
                            <li class="list-group-item"><em>plan</em>
                            </li>
                            <li class="list-group-item"><em>plan</em>
                            </li>
                            <li class="list-group-item"><em>plan</em>
                            </li>
                            <li class="list-group-item"><em>plan</em>
                            </li>
                        </ul>
                        <hr class="colored">
                        <a href="#" class="btn btn-outline-dark">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <section id="people">
        <div class="container text-center wow fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <h2>People</h2>
                    <p>REASSURING DESCRIPTION (EXAMPLE: We are a group of professionals and artisan chefs with a passion for culinary excellence).</p>
                    <hr class="colored">
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-12">
                    <div class="about-carousel">
                        <div class="item">
                            <img src="assets/img/culinary/people/1.jpg" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Alan Wimbledon</h3>
                                <hr class="colored">
                                <p><em>Owner</em>
                                </p>
                                <ul class="list-inline social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/culinary/people/2.jpg" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Jeffery Howard</h3>
                                <hr class="colored">
                                <p><em>Executive Chef</em>
                                </p>
                                <ul class="list-inline social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/culinary/people/3.jpg" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Kenny Williams</h3>
                                <hr class="colored">
                                <p><em>Executive Chef</em>
                                </p>
                                <ul class="list-inline social">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/culinary/people/4.jpg" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Steven Cooper</h3>
                                <hr class="colored">
                                <p><em>Executive Chef</em>
                                    <ul class="list-inline social">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/culinary/people/5.jpg" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Francois Borde</h3>
                                <hr class="colored">
                                <p><em>Pastry Chef</em>
                                    <ul class="list-inline social">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/culinary/people/6.jpg" class="img-responsive" alt="">
                            <div class="caption">
                                <h3>Thomas Cheung</h3>
                                <hr class="colored">
                                <p><em>Corkmaster</em>
                                    <ul class="list-inline social">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="#our_plans" class="btn btn-block btn-full-width page-scroll">Buy Candy At Work Now!</a>

</body>

</html>
