<ul class="orders">
  <% @order.each do |order| %>
    <li>
      <%= link_to order.nameFirst, order %>
      <%= " | " %>
      <%= link_to "delete", order, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </li>
  <% end %>
</ul>